.inputdiv{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.team{
    text-align: center;
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card{
  margin-top: 125px !important;
  background-color: yellow;
  margin: auto;
}