.inputdiv{
  margin-top: 20px;
  margin-bottom: 20px;
}

.team{
    text-align: center;
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card{
  margin-top: 15px !important;
  margin-bottom: 20px !important;
  background-color: yellow;
  margin: auto;
}

.input{
    display: block;
    
}

.submit{
    display: block;
}

.player-card{
  background-color: yellow;
  margin-left: 10px;
  margin-top: 10px;
text-align: center;
width: 15rem;
margin: auto;
 }

 .info{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
 }