.inputdiv{
  margin-top: 20px;
  margin-bottom: 20px;
}

.team{
    text-align: center;
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card{
  margin-top: 15px !important;
  margin-bottom: 20px !important;
  background-color: yellow;
  margin: auto;
}

.input{
    display: block;
    
}

.submit{
    display: block;
}